body {
  width: 100%;
}
a {
  color: red;
}

/* contenaire principale*/

.contenaire-principale {
  width: 75%;
  margin: auto;
}

/* style header */
.contenaire-header {
  display: flex;
  background-color: #009999ad;
  color: white;
}

.entete-item1 {
  flex: 70%;
  margin: 2%;
}

.entete-item2 {
    /* flex: 30%; */
    /* padding-bottom: 2px; */
    flex: 152px;
    /* width: 195px; */
    /* height: 195px; */
    padding: 10px;
}

.identite {
  border-bottom: solid 2px #003366;
  font-weight: bold;
}

.nom {
  font-size: 50px;
  margin: 2px;
}

.diplome {
  font-size: 24px;
  margin: 2px;
}

.objectif {
  margin: 2px;
}

.title-diplome {
  margin-top: 20px;
  margin-bottom: 10px;
}

.photo {
/*   border: solid; */
  border-radius: 50%;
/*   height: 100%; */
}

.photo img {
  padding: 4px;
  height: 250px;
  border-radius: 84%;
  text-align: center;
  border: solid 1px #fff;
}

.contenaire-separateur {
  height: 2%;
  background-color: #003366;
  margin-top: 1px;
  margin-bottom: 1px;
}

/* style body */

.contenaire-body {
  display: flex;
  flex-flow: wrap;
}

.main {
  flex: 70%;
  background-color: #cccc99;
}
.side {
  flex: 30%;
  background-color: #009999ad;
}

.left {
  width: 20%;
  text-align: center;
}

.right {
  width: 80%;
  background-color: white;
}

.experience {
  width: 100%;
  border-spacing: 0px;
  padding-left: 4px;
  padding-bottom: 4px;
}

.formation {
  width: 100%;
  border-spacing: 0px;
  padding-left: 4px;
  padding-bottom: 4px;
}

.description,
h1 {
  margin: 4px;
}
/* style sidebar*/
.title-competence {
  background-color: white;
  text-align: center;
  padding: 6px;
}

.icon-fix {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  background-color: white;
  position: relative;
  top: 40px;
  left: 3%;
  padding: 2px;
}

progress {
  border-radius: 2px;
  width: 80%;
  height: 15px;
  margin-left: 10%;
}
progress::-webkit-progress-bar {
  background-color: #cccc99;
  border-radius: 2px;
}
progress::-webkit-progress-value {
  border-radius: 2px;
  background-color: #003366;
}
progress::-moz-progress-bar {
  /* style rules */
}

.comtence {
  margin-left: 10%;
  margin-top: 10px;
  margin-bottom: 4px;
  color: white;
}

.contact {
  background-color: #003366;
  height: 170px;
}

.contact-title {
  border: solid 2px #003366;
  width: 50%;
  position: relative;
  text-align: center;
  top: -12px;
  right: -70px;
  border-top: 4px;
  height: 30px;
  margin-top: 22px;
  padding: 5;
  background-color: white;
  font-weight: bold;
}

.contact-txt {
  text-align: center;
  font-weight: bold;
  color: white;
}
